*.iml
*.aab
.gradle
/local.properties
/.kotlin
/.idea
.DS_Store
build
*/google-services.json
/captures
.externalNativeBuild
.cxx
*.storekit
local.properties
BudgetKey
xcuserdata
bin
.vscode
iosApp/.xcode.env
composeApp/exportedNativeExample/.build
composeApp/src/swift/nativeBridge/StartYourBridgeHere.swift
GoogleService-Info.plist